body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}

.header--subheader {
    font-size: 21px;
    color: gray;
}

/* LINKS */

.link--cta {
    font-size: 16px;
    color: aquamarine;
}